
<!DOCTYPE html>

{{ partial "head.html" .}} {{ partial "seo.html" .}}
<body class="bg-light-gray">
    {{ partial "header.html" .}}
	<main class="w-container pt-14 pb-20">
		<section class="text-center px-3 space-y-3 py-5">
			<h1 class="font-bold text-brick">{{ upper  .Name }}</h1>
		</section>
		<section class=" py-12 md:py-16 lg:py-20  space-y-10 ">
		  {{ range .Data.Pages }}
    {{ partial "post.html" .}}
      {{ end }}
		</section>
	</main>
	
	{{ partial "footer.html" .}}
	 
</body>
</html>



